*{
    box-sizing: border-box;
}

@media (min-width:992px)
{
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 0px;
}
h1{
    text-align: center;
    font-size: 2em;
}
.box{
    float: left;
    width: 31%;
    border: 2px solid black;
    margin: 10px;
    background-color: bisque;
}
#t1{
    background-color: aqua;
}
#t2{
    background-color: aquamarine;
}
#t3{
    background-color: cadetblue;
}
.title{
    float: right;
    width: 45%;
    text-align: center;
    border: 2px solid black;
    clear: both;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.lit{
    clear: both;
    padding: 10px;
}
}

@media (min-width:768px) and (max-width:991px) 
{
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 0px;
}
h1{
    font-size: 2em;
    text-align: center;
}
#first{
    width: 47%;
    border: 2px solid black;
    margin: 10px;
    background-color: bisque;
    float: left;
}
#second{
    width: 47%;
    border: 2px solid black;
    margin: 10px;
    background-color: bisque;
    float: left;
}
#third{
    width: 47%;
    border: 2px solid black;
    margin: 10px;
    background-color: bisque;
    float: left;
}
#t1{
    background-color: aqua;
}
#t2{
    background-color: aquamarine;
}
#t3{
    background-color: cadetblue;
}
.title{
    float: right;
    width: 45%;
    text-align: center;
    border: 2px solid black;
    clear: both;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.lit{
    clear: both;
    padding: 10px;
}
}

@media (max-width:767px)
{
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 0px;
}
h1{
    font-size: 2em;
    text-align: center;
}
.box{
    float: left;
    width: 97.5%;
    border: 2px solid black;
    margin: 10px;
    background-color: bisque;
}
#t1{
    background-color: aqua;
}
#t2{
    background-color: aquamarine;
}
#t3{
    background-color: cadetblue;
}
.title{
    float: right;
    width: 45%;
    text-align: center;
    border: 2px solid black;
    clear: both;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.lit{
    clear: both;
    padding: 10px;
}
}